* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

/* -------------------HEADER-------------------------- */

header {
    background-image: url(/img/Fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-height: 400px;
}

header .menu {
    margin: 40px;
    text-align: right;
}

header .menu a {
    margin: 0 20pz;
    color: white;
    padding-bottom: 9px;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    font-size: 1em;
}

header .menu a:hover {
    border-bottom: 2px solid white;
}

header .contenedor-texto {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 100px 0;
}
header .contenedor-texto .texto {
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    padding: 20px 60px;
    
}

header .contenedor-texto .texto h1,
header .contenedor-texto .texto h2 {
    color: #fff;
    font-weight: 300;
    margin: 0;
}

header .contenedor-texto .texto .nombre {
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 50px;
}
header .contenedor-texto .texto .profesion {
    font-size: 25px;
    line-height: 25px;
}

/* ----------------------Principal--------------------------- */

.principal .contenedor{
    overflow: visible;
}

.principal .acerca-de {
    text-align: center;
}

.principal .acerca-de .foto {
    margin-top: -65px;
}

.principal .acerca-de .foto img{
    vertical-align: top;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.2)
}
.principal .acerca-de .texto {
    color: #5C5858;
    font-weight: 600;
    font-size: 1em;
    line-height: 30px;
    width: 80%;
    margin: 40px auto 60px auto;
}
.principal .acerca-de .texto .titulo {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #3E539C;
    text-align: center;
}
.principal .acerca-de .texto .bold {
    color: #3895ea;
    text-decoration: underline;
}

/* -------------trabajos------------------- */

.principal .trabajos {
    background-color: #E3E3E3;
    padding: 30px 0;
}

.principal .trabajos .contenedor {
    overflow: hidden;
}

.principal .trabajos .titulo {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #3E539C;
    text-align: center;
}

.principal .trabajos .contenedor-trabajos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.principal .trabajos .contenedor-trabajos .trabajo {
    width: 30%;
}

.principal .trabajos .contenedor-trabajos .trabajo .logo-trabajo{
    width: 100%;
    margin-bottom: 10px;
}
.principal .trabajos .contenedor-trabajos .trabajo .logo-trabajo img{
    width: 100%;
    vertical-align: top;
    border-radius: 20px;
}

.principal .trabajos .contenedor-trabajos .trabajo .descripcion {
    text-align: center;
}
.principal .trabajos .contenedor-trabajos .trabajo .nombre {
    color: #3E539C;
}
.principal .trabajos .contenedor-trabajos .trabajo .fechas {
    font-size: 14px;
    font-weight: 300;
}

/* -----------------------Tecnologías------------------------------- */

.principal .tecnologias {
    background-color: #fff;
    padding: 30px 0;
}

.principal .tecnologias .contenedor {
    overflow: hidden;
}

.principal .tecnologias .titulo {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #3E539C;
    text-align: center;
}

.principal .tecnologias .contenedor-tecnologias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.principal .tecnologias .contenedor-tecnologias .habilidades {
    width: 30%;
}

.principal .tecnologias .contenedor-tecnologias .habilidades .tecnologias-icono{
    width: 100%;
    margin-bottom: 10px;
}
.principal .tecnologias .contenedor-tecnologias .habilidades .tecnologias-icono img{
    width: 100%;
    vertical-align: top;
    border-radius: 20px;
}

.principal .tecnologias .contenedor-tecnologias .habilidades .descripcion {
    text-align: center;
}
.principal .tecnologias .contenedor-tecnologias .habilidades .nombre {
    color: #3E539C;
}
.principal .tecnologias .contenedor-tecnologias .habilidades .actividades {
    font-size: 14px;
    font-weight: 300;
}

/* ---------------------------------Footer----------------------------- */

footer .contacto{
    padding: 60px 0;
    background-color: #E3E3E3;
}

footer .contacto .titulo {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #3E539C;
    text-align: center;
}
footer .contacto .formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"],
footer .contacto .formulario textarea{
    border: 2px solid #888;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 20px;
    color: #a4a4a4
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"]{
    width: 49%;
    margin-bottom: 15px;
}
footer .contacto .formulario textarea{
    width: 100%;
    height: 100px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 300px;
    margin-bottom: 15px;
}

footer .contacto .formulario .boton{
    margin: auto;
    background-color: #3E539C;
    color: #ffff;
    border: none;
    border-radius: 5px;
    padding: 15px 40px;
    cursor: pointer;

}
footer .contacto .formulario .boton:hover{
    background-color: #387bea;
}

/* ------------------------redes------------------------------- */

footer .redes-sociales{
    background-color: #000;
    padding: 20px 25%;
}
 footer .redes-sociales .contenedor {
    display: flex;
    justify-content: space-between;
 }
 footer .redes-sociales .contenedor .icono{
    border-radius: 50%;
 }